*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: "Inter", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  background-color: #fff;
}

/* width */
::-webkit-scrollbar {
  width: 0.8em;
  right: 0.2em;
}

::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #cfcfcf;
  border-radius: 0.1em;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #5db075;
}
