.button {
    display: inline-block;
    background-color: #5DB075;
    width: 100%;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    padding: 16px;
    border-radius: 100px;
    outline: none;
    border: none;
    transition: all 200ms;
    cursor: pointer;

    &:hover {
        background-color: lighten($color: #5DB075, $amount: 4);
    }

    &:active {
        transform: translateY(1.5px);
    }
}