.overlay {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #00000091;
  z-index: 999999;
  transition: opacity 200ms;

  &--show {
    opacity: 1;
    transform: scale(1);
  }

  &--hidden {
    transform: scale(0);
    opacity: 0;
  }
}

.group-dialog {
  position: relative;
  flex-direction: column;
  display: flex;
  align-items: center;
  padding: 25px 15px 15px;
  width: 400px;
  height: 95vh;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 5px 10px #333333;

  &__picture-buttons {
    display: flex;
    justify-content: space-around;
    width: 25%;
  }

  &__close {
    position: absolute;
    right: 25px;
    top: 15px;
    cursor: pointer;
  }

  &__picture {
    width: 110px;
    height: 110px;
    background-color: #bebebe;
    border-radius: 50%;
    margin-bottom: 5px;
  }

  &__file {
    display: none;
  }

  &__link:link,
  &__link:visited {
    text-decoration: none;
    color: #0070af;
  }

  &__field {
    position: relative;
    margin-top: 15px;
    margin-bottom: 5px;
  }

  &__btn-edit {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    padding: 7px 10px;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: transparent;
  }

  &__field:hover > &__btn-edit {
    opacity: 1 !important; // overwrite inline style
  }

  &__input {
    display: block;
    font-weight: bold;
    color: #000;
    width: 340px;
    font-size: 22px;
    text-align: center;
    outline: none;
    border: 1px solid transparent;
    border-radius: 3px;
    padding: 5px 35px;
    background-color: #ededed;
  }

  &__input:disabled {
    outline: none;
    border: 1px solid transparent;
    background-color: transparent;
  }
}

.participant {
  display: flex;
  flex-direction: column;
  width: 100%;

  &__form {
    position: relative;
    width: 100%;
  }

  &__search-input {
    font-size: 14px;
    background-color: #fff;
    width: 100%;
    border: 1px solid #cdcdcd;
    border-radius: 5px;
    outline: none;
    padding: 10px 30px 10px 10px;
  }

  &__list {
    flex: 1;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
    overflow-y: auto;
    border: 1px solid #cdcdcd;
  }
}

.search-container {
  position: absolute;
  width: 100%;
  border-left: 1px solid #cdcdcd;
  border-right: 1px solid #cdcdcd;
  border-bottom: 1px solid #cdcdcd;
  background-color: #fff;
  z-index: 100000;
  box-shadow: 0 5px 10px #aaa;
}

.search-card {
  display: flex;
  padding: 15px 15px 15px 10px;
  align-items: center;

  &:not(:last-child) {
    border-bottom: 1px solid #cdcdcd;
  }

  &__picture {
    width: 42px;
    height: 42px;
    background-color: #a7a7a7;
    border-radius: 50%;
  }

  &__name {
    flex: 1;
    font-size: 14px;
    font-weight: bold;
    margin-left: 10px;
  }

  &__btn {
    width: 40px;
    height: 40px;
    padding: 5px;
    cursor: pointer;
  }
}

.participant-card {
  display: flex;
  background-color: #fff;
  align-items: center;
  padding: 15px;

  border-bottom: 1px solid #cdcdcd;

  &__picture {
    width: 42px;
    height: 42px;
    background-color: #a7a7a7;
    border-radius: 50%;
  }

  &__name {
    flex: 1;
    font-size: 14px;
    font-weight: bold;
    margin-left: 10px;
  }

  &__btn {
    width: 40px;
    height: 40px;
    padding: 5px;
    cursor: pointer;
  }
}