.chat-screen {
  display: flex;
  height: 100vh;
  flex-direction: row;
  overflow-x: hidden;
}

.chat-area {
  display: flex;
  flex-direction: column;
  flex: 5;
  background-color: #d3d3d3;

  &__messages {
    flex: 1;
    overflow-y: scroll;
  }

  &__input-area {
    display: flex;
    height: 70px;
    padding: 5px;
    align-items: center;
  }
}
