.chat-screen {
  display: flex;
  height: 100vh;
  flex-direction: row;
}

.sidebar {
  display: flex;
  flex-direction: column;
  flex: 2;
  height: 100vh;
  z-index: 1000;
  box-shadow: 0 -15px 10px #a5a5a5;
}

.chat-area {
  display: flex;
  flex-direction: column;
  flex: 5;
  background-color: #d3d3d3;


  &__messages {
    flex: 1;
    overflow-y: scroll;
  }

  &__input-area {
    display: flex;
    height: 70px;
    padding: 5px;
    align-items: center;
  }
}

