.login-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  &__form {
    width: 400px;
    margin: 0 auto;
    padding: 30px 40px;
    border-radius: 25px;
  }

  &__textinput:nth-last-child(2n) {
    margin-bottom: 12px;
  }
}