

.participant {
    display: flex;
    flex-direction: column;
    width: 100%;
  
    &__form {
      position: relative;
      width: 100%;
    }
  
    &__search-input {
      font-size: 14px;
      background-color: #fff;
      width: 100%;
      border: 1px solid #cdcdcd;
      border-radius: 5px;
      outline: none;
      padding: 10px 30px 10px 10px;
    }
  
    &__list {
      flex: 1;
      width: 100%;
      margin-top: 15px;
      margin-bottom: 15px;
      overflow-y: auto;
      border: 1px solid #cdcdcd;
    }
  }
  
  .search-container {
    position: absolute;
    width: 100%;
    border-left: 1px solid #cdcdcd;
    border-right: 1px solid #cdcdcd;
    border-bottom: 1px solid #cdcdcd;
    background-color: #fff;
    z-index: 100000;
    box-shadow: 0 5px 10px #aaa;
  }
  
  .search-card {
    display: flex;
    padding: 15px 15px 15px 10px;
    align-items: center;
  
    &:not(:last-child) {
      border-bottom: 1px solid #cdcdcd;
    }
  
    &__picture {
      width: 42px;
      height: 42px;
      background-color: #a7a7a7;
      border-radius: 50%;
    }
  
    &__name {
      flex: 1;
      font-size: 14px;
      font-weight: bold;
      margin-left: 10px;
    }
  
    &__btn {
      width: 40px;
      height: 40px;
      padding: 5px;
      cursor: pointer;
    }
  }
  
  .participant-card {
    display: flex;
    background-color: #fff;
    align-items: center;
    padding: 15px;
  
    border-bottom: 1px solid #cdcdcd;
  
    &__picture {
      width: 42px;
      height: 42px;
      background-color: #a7a7a7;
      border-radius: 50%;
    }
  
    &__name {
      flex: 1;
      font-size: 14px;
      font-weight: bold;
      margin-left: 10px;
    }
  
    &__btn {
      width: 40px;
      height: 40px;
      padding: 5px;
      cursor: pointer;
    }
  }
  