.text-input {
  position: relative;
  background-color: #fafafa;
  width: 100%;
  padding: 1.6rem;
  outline: none;
  border: 0.1rem solid #d8d8d8;
  border-radius: 0.9rem;
  font-size: 1.6rem;

  &:disabled::placeholder,
  &:disabled {
    color: #afafaf;
    background-color: #e4e4e4;
  }

  &::placeholder {
    color: #858585;
  }

  &__container {
    position: relative;
  }

  &__message {
    display: inline-block;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;

    &--okay {
      color: #0f0;
    }

    &--warn {
      color: #ff0;
    }

    &--danger {
      color: #f00;
    }
  }
}
