

.login-dialog {
    position: relative;
    background-color: #fff;
    width: 600px;
    border-radius: 10px;
    box-shadow: 0 5px 10px #4b4b4b;
    padding: 25px;
  
    &__close {
      position: absolute;
      right: 25px;
      cursor: pointer;
    }
  
    &__title {
      font-weight: bold;
      font-size: 25px;
      margin-bottom: 25px;
    }
  
  
    &__overlay {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100vw;
      height: 100vh;
      background-color: rgba(0, 0, 0, 0.534);
    }
  }
  